* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.bg-body {
  background-color: #fcfcfc !important;
}

.logo {
  width: 95px;
  height: 45px;
}

.bg_nav {
  background-color: #241142;
  width: 100% !important;
}

.icon-close {
  color: white !important;
}

.div_cart {
  background-color: #fcfcfc;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.icon_cart {
  color: white !important;
  background-color: #231441;
  min-width: 90px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-right: 35px;
  font-size: 12px;
}

.main_div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_div div h5 {
  color: #c01c7a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ui-checkbox {
  --primary-color: #616161;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #616161;
  --checkbox-border-width: 3px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}


.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.last_div {
  display: flex;
  flex-direction: row-reverse;
  gap: 45px;
  border: 2px solid #d5d5d5;
}

.last_div div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.last_div p {
  margin-top: 10px;
  font-size: 20px;
}

.question {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 3px solid #82bdcc;
  border-radius: 50%;
  color: #82bdcc;
  margin-left: 20px;
  font-size: 20px;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon img {
  height: 120px;
  width: 120px;
}

.custum-file-upload input {
  display: none;
}

.text span {
  font-weight: 600;
  font-size: 26px;
  color: #c01c7a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.div_slider {
  display: flex;
  gap: 25px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 95%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 40px;
}

.div_slider img {
  width: 85%;
  height: 85%;
  object-fit: fill;
  margin: 6px 7px;
  cursor: pointer;
}
.div_slider label {
  height: 100px;
}

.div_slider div {
  width: 110px;
  height: 100px;
}

.div_slider p {
  text-align: center;
  margin-top: 8px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.image-container {
  padding: 5px;
}

.bordered {
  border: 1px solid #c01c7a;
}

.color-of-border {
  color: #c01c7a;
}

.salemax {
  background: #deb887;
  color: white;
  padding: 10px;
  text-align: center;
  padding-top: 0;
  font-size: 14px;
  position: relative;
  top: -91px;
  right: -7px;
  width: 93px;
  height: 20px;
  display: block;
}

.parsale {
  position: relative;
  top: -18px;
}

::-webkit-scrollbar {
  height: 5px; 
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c01c7a;
}
